---
import BaseLayout from "../layouts/BaseLayout.astro";
import CallToAction from "../components/CallToAction.astro";
import FAQ from "../components/FAQ.astro";
import Features from "../components/Features.astro";
import Hero from "../components/Hero.astro";
import Pricing from "../components/Pricing.astro";
import Showcase from "../components/Showcase.astro";
import Testimonials from "../components/Testimonials.astro";
---

<BaseLayout>
  <div class="flex flex-col gap-8">
    <Hero />
    <Features />
    <Showcase />
    <Pricing />
    <Testimonials />
    <FAQ />
    <CallToAction />
  </div>
</BaseLayout>
